<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>日志管理页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- import Vue.js -->
	<script src="//vuejs.org/js/vue.min.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
	<link rel="stylesheet" href="./css/main.css">
	<!-- import iView -->
	<script src="//unpkg.com/iview/dist/iview.min.js"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="managerInfo">
		<div style="padding: 20px;background: #f8f8f9">
	 	<transition name="fade">
	     	<i-button type="info" @click="creatNew" v-if="isCreat">添加数据</i-button>
		    <div v-else>
		      <Card title="日志信息" icon="ios-options" :padding="0" shadow style="width: 100%;">
		      	<div style="padding:10px;">
			      	<Row class="code-row-bg">
			      		<i-col span="2">数据id:</i-col>
			      		<i-col span="6">{{dataInfo.id}}</i-col>
			      		<i-col span="1"></i-col>
       					<i-col span="15">数据库自动生成id</i-col>
			      	</Row>
			      	<Row class="code-row-bg">
			      		<i-col span="2">游戏码:</i-col>
			      		<i-col span="6">{{dataInfo.gamecode}}</i-col>
			      		<i-col span="1"></i-col>
       					<i-col span="15">游戏代码</i-col>
			      	</Row>
			      	<Row class="code-row-bg">
			      		<i-col span="2">游戏名称:</i-col>
			      		<i-col span="22">{{dataInfo.gamename}}</i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">日志服务名称：</i-col>
			      		<i-col span="6"><i-input  placeholder="日志服务名称" v-model="dataInfo.logservicename" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Divider orientation="left">发送服务的信息</Divider>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">发送服务项目名称：</i-col>
			      		<i-col span="6"><i-input  placeholder="发送服务项目名称" v-model="dataInfo.sendObjName" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">发送服务代码命名空间：</i-col>
			      		<i-col span="6"><i-input  placeholder="发送服务中服务代码命名空间：" v-model="dataInfo.sendServicePackage" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">发送实体类代码命名空间：</i-col>
			      		<i-col span="6"><i-input  placeholder="发送服务中实体类代码命名空间：" v-model="dataInfo.sendBeanPackage" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">日志消息流的通道名：</i-col>
			      		<i-col span="6"><i-input  placeholder="日志消息流的通道名：" v-model="dataInfo.channelName" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">执行的命令文件：</i-col>
			      		<i-col span="6"><i-input  placeholder="mvncom.bat or mvncom.sh" v-model="dataInfo.mvnCom" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">代码版本：</i-col>
			      		<i-col span="6"><i-input  placeholder="0.0.1-RELEASE" v-model="dataInfo.codeVersion" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">代码GroupId：</i-col>
			      		<i-col span="6"><i-input  placeholder="com.dc" v-model="dataInfo.codeGroupId" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">代码ArtifactId：</i-col>
			      		<i-col span="6"><i-input  placeholder="autosendrmq" v-model="dataInfo.codeArtifactId" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">mavenId：</i-col>
			      		<i-col span="6"><i-input  placeholder="与maven配置中的一致" v-model="dataInfo.mavenId" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">release版本上传路径：</i-col>
			      		<i-col span="6"><i-input  placeholder="http://111.230.26.190:8081/repository/maven-releases/" v-model="dataInfo.releaseMavenPath" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
			      	<Row type="flex" class="code-row-bg" align="middle">
			      		<i-col span="2">snapshot版本上传路径：</i-col>
			      		<i-col span="6"><i-input  placeholder="http://111.230.26.190:8081/repository/maven-snapshots/" v-model="dataInfo.snapshotMavenPath" clearable></i-input></i-col>
       					<i-col span="16"></i-col>
			      	</Row>
		      	</div>
		      	<div style="padding:20px;">
		      		<i-button  type="info" @click="saveInfo" >保存</i-button>
		      	</div>
		      	<Divider></Divider>
		      </Card>
		      <Card title="日志文件" icon="md-list" :padding="0" shadow style="width: 100%;">
		      	 <div style="padding:20px;">
		      	 	<i-button type="info" @click="addlogBean">新建数据</i-button>
		      	 </div>
		      	 <div style="padding:20px;">
		      	 	<Collapse v-for="logBean in logBeans" accordion>
		      	 		<Row type="flex" justify="start" align="middle" :gutter="16">
					      		<i-col span="1">实体名:</i-col>
					      		<i-col span="3"><i-input  placeholder="" v-model="logBean.beanName" clearable></i-input></i-col>
		       					<i-col span="1">实体描述:</i-col>
		       					<i-col span="3"><i-input  placeholder="" v-model="logBean.beanDescribe" clearable></i-input></i-col>
		       					<i-col span="1">基类名称:</i-col>
		       					<i-col span="3"><i-input  placeholder="" v-model="logBean.fatherBeanName" clearable></i-input></i-col>
		       					<i-col span="1">是否基类:</i-col>
		       					<i-col span="3">
		       						<Radio-group v-model="logBean.isBaseBean">
									    <Radio label="0">否</Radio>
									    <Radio label="1">是</Radio>
									</Radio-group>
								</i-col>
		       					<i-col span="1">操作:</i-col>
		       					<i-col span="2"><i-button type="success" @click="saveLogBean(logBean)">保存</i-button><Divider type="vertical"></Divider><i-button type="error">删除</i-button></i-col>
					    </Row>
					    <Panel name="logBean.beanName">
					    	{{logBean.beanName}}<Divider type="vertical"></Divider> 实体id:{{logBean.id}}
					    </Panel>
				   </Collapse>
		      	 </div>
		      </Card>
		    </div>
	     </transition>
     	</div>
	</div>
	<!-- js加载要写在html对象加载之后 -->
	<script src="../js/main.js"></script>
</body>
</html>