package ${packageName};

import static org.springframework.web.reactive.function.server.RequestPredicates.*;
import static org.springframework.web.reactive.function.server.RouterFunctions.route;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.http.MediaType;
import org.springframework.web.reactive.function.server.RouterFunction;
import org.springframework.web.reactive.function.server.ServerResponse;

@Configuration
public class ReceiverRouterConfig {
	@Autowired
	private LogInfoHandler logInfoHandler;
	
	#set($logFilesCount = 0)
	
	 @Bean
     public RouterFunction<ServerResponse> receiverRouter() {
		return #foreach($logFile in $logFiles)
				  #if($logFilesCount==0)
					route(GET("/get${logFile.beanName}").and(accept(MediaType.APPLICATION_JSON)), logInfoHandler::get${logFile.beanName}Info)
				  #else
				  	.andRoute(GET("/get${logFile.beanName}").and(accept(MediaType.APPLICATION_JSON)), logInfoHandler::get${logFile.beanName}Info)
				  #end
					#set( $logFilesCount = $logFilesCount + 1)
				#end;
	}
	
	
}